.topbar{
    height: 50px;
    margin-bottom: 5px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.username{
    height: 40px;
    margin: 5px;
    display: flex;
}

.username img{
    width: 40px;
    height: 40px;
    margin:5px;
    border-radius: 50%;
}